<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <components>
      <component id="IMockClassUsingCache" service="Tests.Mocks.IMockClassUsingCache, Tests"
                 type="Tests.Mocks.MockClassUsingCache, Tests">
        <interceptors>
          <interceptor>${cacheprovider}</interceptor>
        </interceptors>
      </component>
      <component id="cacheprovider"
          service="Sciendo.Core.CacheManager.ICacheProvider, Sciendo.Core"
          type="Sciendo.Core.CacheManager.CacheProviderForMethods, Sciendo.Core"/>
      <component id="ICacheManager" service="Sciendo.Core.CacheManager.ICacheManager, Sciendo.Core"
                 type="Tests.Mocks.MockCacheManager,Tests"/>
      <component id="IAlgorythmPoolProvider" service="Sciendo.Core.Providers.IAlgorythmPoolProvider, Sciendo.Core"
           type="Simulation.DataProviders.AlgorythmPoolProvider, Simulation.DataProviders"/>
      <component id="ITopRecordProvider" service="Sciendo.Core.Providers.ITopRecordProvider, Sciendo.Core"
           type="Simulation.DataProviders.TopRecordProvider, Simulation.DataProviders"/>
      <!-- ScoreAlgorythms plugins to create a new one just implement the IScoreAlgorythm and add the implementation here-->
      <component id="Top3" service="Sciendo.Core.Providers.IScoreAlgorythm, Sciendo.Core"
                 type="Simulation.DataProviders.BuiltIn.DefaultScoreAlgorythm123, Simulation.DataProviders"/>
      <component id="F1" service="Sciendo.Core.Providers.IScoreAlgorythm, Sciendo.Core"
                 type="Simulation.DataProviders.BuiltIn.DefaultScoreAlgorythmF1, Simulation.DataProviders"/>
      <component id="DataAccess" service="Simulation.DataAccess.ISimulationCRUD, Simulation.DataAccess"
                 type="Tests.Mocks.MockSimulationCRUD, Tests"/>

    </components>
  </castle>
</configuration>