<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <components>
      <component id="IMockClassUsingCache" service="Tests.Mocks.IMockClassUsingCache, Tests"
                 type="Tests.Mocks.MockClassUsingCache, Tests">
        <interceptors>
          <interceptor>${cacheprovider}</interceptor>
        </interceptors>
      </component>
      <component id="cacheprovider"
          service="Sciendo.Core.CacheManager.ICacheProvider, Sciendo.Core"
          type="Sciendo.Core.CacheManager.CacheProviderForMethods, Sciendo.Core"/>
      <component id="ICacheManager" service="Sciendo.Core.CacheManager.ICacheManager, Sciendo.Core"
                 type="Tests.Mocks.MockCacheManager,Tests"/>

    </components>
  </castle>
</configuration>