@model Simulation.UI.Models.SettingsModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@section Header
{
        <script src="@Url.Content("~/Scripts/Custom/Settings.js")" type="text/javascript"></script>
}

<h2>Settings</h2>
Use:
@section TopProvider
{
@{Html.RenderPartial("DummyTopProviderSettings");}
}