<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section
        name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <components>
      <component id="ITopProvider" service="Sciendo.Core.Providers.ITopProvider, Sciendo.Core"
                 type="Simulation.LastFmDataProvider.TopProvider, Simulation.LastFmDataProvider">
        <interceptors>
          <interceptor>${cachefortopprovider}</interceptor>
        </interceptors>
      </component>
      <component id="ITopRecordProvider" service="Sciendo.Core.Providers.ITopRecordProvider, Sciendo.Core"
                 type="Simulation.DummyDataProvider.DummyTopRecordProvider, Simulation.DummyDataProvider"/>
      <component id="ITopTotalsProvider" service="Sciendo.Core.Providers.ITopTotalsProvider, Sciendo.Core"
                 type="Simulation.DummyDataProvider.DummyTopTotalsProvider, Simulation.DummyDataProvider"/>
      <component id="IAlgorythmPoolProvider" service="Sciendo.Core.Providers.IAlgorythmPoolProvider, Sciendo.Core"
                 type="Simulation.DataProviders.AlgorythmPoolProvider, Simulation.DataProviders"/>
      <component id="cachefortopprovider"
          service="Sciendo.Core.CacheManager.ICacheProvider, Sciendo.Core"
          type="Sciendo.Core.CacheManager.CacheProviderForMethods, Sciendo.Core"/>
      <component id="ICacheManager" service="Sciendo.Core.CacheManager.ICacheManager, Sciendo.Core"
                 type="Simulation.LastFmDataProvider.NoConnectionCacheManager,Simulation.LastFmDataProvider"/>
      <!-- ScoreAlgorythms plugins to create a new one just implement the IScoreAlgorythm and add the implementation here-->
      <component id="Top3" service="Sciendo.Core.Providers.IScoreAlgorythmProvider, Sciendo.Core"
                 type="Simulation.DataProviders.BuiltIn.DefaultScoreAlgorythm123, Simulation.DataProviders"/>
      <component id="Top8" service="Sciendo.Core.Providers.IScoreAlgorythmProvider, Sciendo.Core"
                 type="Simulation.DataProviders.BuiltIn.DefaultScoreAlgorythmF1, Simulation.DataProviders"/>

    </components>
  </castle>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="TotalsLocation" value="C:\Code\Sciendo\Simulation.UI\Simulation.UI\"/>
    <add key="TopRecordFile" value="C:\Code\Sciendo\Simulation.UI\Simulation.UI\toprecord.xml"/>
    <add key="SettingsFile" value="C:\Code\Sciendo\Simulation.UI\Simulation.UI\settings.xml"/>
    <add key="WeeksDummyFile" value="C:\Code\Sciendo\Simulation.UI\Simulation.UI\getweeklychartsok.xml"/>
    <add key="ArtistsDummyFile" value="C:\Code\Sciendo\Simulation.UI\Simulation.UI\getchartartistsok.xml"/>
    <add key="TracksDummyFile" value="C:\Code\Sciendo\Simulation.UI\Simulation.UI\gettrackchartok.xml"/>
    <add key="CachedXmlFolder" value="C:\Code\Sciendo\Simulation.UI\Simulation.UI\Cache"/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
